@model CourseViewModel
<h2 class="text-center" style="margin-top: 3%;">Create Course</h2>
<hr>
<form asp-controller="Course" asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="CourseHeader" class="form-label">Course Header</label>
        <input asp-for="CourseHeader" class="form-control">
        <span asp-validation-for="CourseHeader"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TeacherId" class="form-label">Teacher</label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-select">
            <option value="">Select</option>
        </select>
    </div>
    <button type="submit" class="btn btn-secondary">Save</button>
</form>